---
layout: default
---

<section class="article-section">
	<div class="header-wrapper">
		<hr>
		<h2>Blog</h2>
	</div>
	<ul class="article-list">
		{% for blog in site.categories.blog %}
		<li>
			<h3><a href="{{ blog.url }}">{{ blog.title }}</a></h3>
			<p class="description">{{ blog.description }}</p>
			<p class="meta">Posted: {{ blog.date | date: '%B %d, %Y' }} 
			{% for tag in blog.tags %}
			{% capture tag_name %}{{ tag }}{% endcapture %}
			<span class="topics">•
				<a href="/tags/{{ tag_name }}">
				{{ tag_name }}
				</a>
			</span>
			{% endfor %}
			</p>
		</li>
		{% endfor %}
	</ul>
	<a href="{{ site.baseurl }}index.html" class="view-all">
	Back to home</a>
</section>