---
layout: default
---

<section class="article-section">
	<div class="header-wrapper">
		<hr>
		<h2>Goal Pursuit</h2>
	</div>
	<ul class="article-list">
		{% for goal in site.categories.goal %}
		<li>
			<h3><a href="{{ goal.url }}">{{ goal.title }}</a></h3>
			<p class="description">{{ goal.description }}</p>
			<p class="meta">Posted: {{ goal.date | date: '%B %d, %Y' }} 
			{% for tag in goal.tags %}
			{% capture tag_name %}{{ tag }}{% endcapture %}
			<span class="topics">•
				<a href="/tags/{{ tag_name }}">
				{{ tag_name }}
				</a>
			</span>
			{% endfor %}
			</p>
		</li>
		{% endfor %}
	</ul>
	<a href="{{ site.github.url }}/index.html" class="view-all">
	Back to home</a>
</section>