---
layout: default
---

<section class="article-section">
	<div class="header-wrapper">
		<hr>
		<h2>Goal Pursuit</h2>
	</div>
	<ul class="article-list">
		{% for goal in site.categories.goal limit:2 %}
		<li>
			<h3><a href="{{ goal.url }}">{{ goal.title }}</a></h3>
			<p class="description">{{ goal.description }}</p>
			<p class="meta">Posted: {{ goal.date | date: '%B %d, %Y' }}
			{% for tag in goal.tags %}
			{% capture tag_name %}{{ tag }}{% endcapture %}
			<span class="topics">•
				<a href="/tags/{{ tag_name }}">
				{{ tag_name }}
				</a>
			</span>
			{% endfor %}
			</p>
		</li>
		{% endfor %}
	</ul>
	<a href="{{ site.github.url }}/goals.html" class="view-all">View all</a>
</section>

<section class="article-section">
	<div class="header-wrapper">
		<hr>
		<h2>Tech &amp; Design</h2>
	</div>
	<ul class="article-list">
		{% for tech in site.categories.tech limit:2 %}
		<li>
			<h3>
			{% if tech.external_url %}
				<a href="{{ tech.external_url }}">{{ tech.title }}&nbsp;<img src="{{ site.github.url }}/media/img/external-link-icon.png"></a>
			{% else %}
				<a href="{{ tech.url }}">{{ tech.title }}</a>
			{% endif %}
			</h3>
			<p class="description">{{ tech.description }}</p>
			<p class="meta">Posted: {{ tech.date | date: '%B %d, %Y' }}
			{% for tag in tech.tags %}
			{% capture tag_name %}{{ tag }}{% endcapture %}
			<span class="topics">•
				<a href="/tags/{{ tag_name }}">
				{{ tag_name }}
				</a>
			</span>
			{% endfor %}
			</p>
		</li>
		{% endfor %}
	</ul>
	<a href="{{ site.github.url }}/tech-design.html" class="view-all">View all</a>
</section>

<section class="article-section">
	<div class="header-wrapper">
		<hr>
		<h2>Photos and video</h2>
	</div>
	<ul class="article-list">
		{% for photos in site.categories.photos limit:5 %}
		<li>
		 	<h3>
		 		{% if photos.external_url %}
		 			<a href="{{ photos.external_url }}">{{ photos.title }}&nbsp;<img src="{{ site.github.url }}/media/img/external-link-icon.png"></a>
				{% else %}
				<a href="{{ photos.url }}">{{ photos.title }}</a>
				{% endif %}
			</h3>
			<p class="description">{{ photos.description }}</p>
			<p class="meta">
			{% for tag in photos.tags %}
			{% capture tag_name %}{{ tag }}{% endcapture %}
			<span class="topics">•
				<a href="/tags/{{ tag_name }}">
				{{ tag_name }}
				</a>
			</span>
			{% endfor %}
			</p>
		</li>
		{% endfor %}
	</ul>
</section>