---
layout: default
---

<section class="article-section">
	<h1>Tech &amp; design journal</h1>
	<p class="page-description">This is where I chronicle my experiences and thoughts related to tech, design and startups.</p>
	<ul class="article-list">
		{% for tech in site.categories.tech %}
		<li>
			<h2>
			{% if tech.external_url %}
				<a href="{{ tech.external_url }}">{{ tech.title }}&nbsp;<img src="{{ site.github.url }}/media/img/external-link-icon.png"></a>
			{% else %}
				<a href="{{ tech.url }}">{{ tech.title }}</a>
			{% endif %}
			</h3>
			<p class="description">{{ tech.description }}</p>
			<p class="meta">Posted: {{ tech.date | date: '%B %d, %Y' }}
			{% if tech.topics %}
			<span class="topics">| {{ tech.topics }}</span></p>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	<a href="{{ site.github.url }}index.html" class="view-all">Back to home</a>
</section>


