---
layout: default
title: Tech and design journal
description: Ryan McKnight's experiences and thoughts related to tech, design and startups.
og_title: Tech and design journal | Ryan McKnight
og_description: Ryan McKnight's experiences and thoughts related to tech, design and startups.
og_image: /media/img/about/mcknight_headshot.jpg
og_type: website
---

<section class="article-section">
	<h1>Tech &amp; design journal</h1>
	<p class="page-description">This is where I chronicle my experiences and thoughts related to tech, design and startups.</p>
	<ul class="article-list">
		{% for tech in site.categories.tech %}
		<li>
			<h3>
			{% if tech.external_url %}
				<a href="{{ tech.external_url }}">{{ tech.title }}&nbsp;<img src="{{ site.url }}/media/img/external-link-icon.png"></a>
			{% else %}
				<a href="{{ tech.url }}">{{ tech.title }}</a>
			{% endif %}
			</h3>
			<p class="description">{{ tech.description }}</p>
			<p class="meta">Posted: {{ tech.date | date: '%B %d, %Y' }}
			{% if tech.topics %}
			<span class="topics">| {{ tech.topics }}</span></p>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	<a href="{{ site.url }}" class="view-all">Back to home</a>
</section>


