<nav class="top-nav-desktop">
	<a href="{{ site.github.url }}" class="{% if page.url == '/index.html' %}current{% endif %}"><span class="site-logo site-logo-inside">RM</span></a>
	<ul class="nav">
		<li>
			<a href="{{ site.github.url }}/goals.html" class="{% if page.url == '/goals.html' %}current{% endif %}">Goal pursuit</a>
		</li>
		<li>
			<a href="{{ site.github.url }}/tech-design.html" class="{% if page.url == '/tech-design.html' %}current{% endif %}">Startup journal</a>
		</li>
		<li>
			<a href="https://www.scarceart.com">Photography</a>
		</li>
	</ul>
</nav>