<nav class="top-nav" id="top-nav">
	<ul class="nav">
		<li>
			<a href="{{ site.github.url }}/goals" class="{% if page.url == '/goals' %}current{% endif %} menu-link">Goal pursuit</a>
		</li>
		<li>
			<a href="{{ site.github.url }}/tech-design" class="{% if page.url == '/tech-design' %}current{% endif %} menu-link">Tech &amp; design</a>
		</li>
		<li>
			<a href="{{ site.github.url }}/photography" class="{% if page.url == '/tech-design' %}current{% endif %} menu-link">Photography</a>
		</li>
	</ul>
</nav>