<nav class="top-nav-desktop">
	<a href="{{ site.github.url }}" class="{% if page.url == '/index' %}current{% endif %}"><span class="site-logo site-logo-inside">RM</span></a>
	<ul class="nav">
		<li>
			<a href="{{ site.github.url }}/goals" class="{% if page.url == '/goals' %}current{% endif %}">Goal pursuit</a>
		</li>
		<li>
			<a href="{{ site.github.url }}/tech-design" class="{% if page.url == '/tech-design' %}current{% endif %}">Tech &amp; design</a>
		</li>
		<li>
			<a href="{{ site.github.url }}/photography">Photography</a>
		</li>
	</ul>
</nav>